@font-face {
    font-family: 'silkscreen';
    src: url(slkscr-webfont.eot);
    src: url(slkscr-webfont.eot?#iefix) format("embedded-opentype"),
         url(slkscr-webfont.woff) format("woff"),
         url(slkscr-webfont.ttf) format("truetype"),
         url(slkscr-webfont.svg#silkscreennormal) format("svg");
    font-weight: 400;
    font-style: normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

html {
    display: block !important;
    overflow-x: hidden;
    overflow-x: -moz-hidden-unscrollable;
    text-align: center;
}

body {
    font-family: silkscreen,'Comic Sans';
    text-shadow: -1px 1px 1px #000;
    width: 800px;
    margin: 0 auto;
    display: inline-block;
    line-height: 20px;
}

a {
    color: #bbb;
    text-decoration: none;
}

a:hover {
    color: #777;
}

nav {
    padding-top: 30px;
    margin-bottom: 40px;
    border-bottom: 2px solid #bbb;
    word-spacing: 10px;
}

nav a:first-child {
    font-weight: 700;
    font-size: 5em;
    text-shadow: -3px 3px 1px #000;
    border: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
}

nav a:first-child:hover {
    border: 0;
    top: 0;
    left: 0;
    box-shadow: none;
    padding: 10px;
    margin: 0;
}

nav a:first-child::before,nav a:first-child::after {
    content: none;
}

nav a {
    display: inline-block;
    font-size: 1.4em;
    left: 0;
    padding: 10px;
    position: relative;
    top: 0;
    word-spacing: normal;
    margin-left: 0;
    margin-bottom: 7px;
    border-bottom: 0 solid #555;
    border-left: 0 solid #777;
    border-top: 0 solid #ddd;
    border-right: 0 solid #eee;
}

nav a,nav a::before,nav::after {
    transition: all 80ms linear;
}

nav a:hover {
    border-bottom-width: 7px;
    border-left-width: 7px;
    box-shadow: -1px 1px #777 inset;
    top: -7px;
    left: 7px;
    margin-left: -7px;
    margin-bottom: 0;
}

nav a:active,#home:target [href="#home"],#resume:target [href="#resume"],#projects:target [href="#projects"],#links:target [href="#links"],#contact:target [href="#contact"] {
    background: #eee;
    border-bottom: 1px solid #777;
    border-left: 1px solid #777;
    padding-left: 6px;
    padding-bottom: 6px;
    top: 4px;
    left: -4px;
    margin-left: 3.5px;
    margin-right: -3.5px;
    box-shadow: -1px 1px 11px -4px #000 inset,1px -1px 0 #fff inset;
    border-width: 4px 4px 0 0;
}

nav a::before,nav a::after {
    content: '';
    position: absolute;
    display: inline-block;
    border: 0 solid transparent;
    border-color: transparent;
}

nav a::before {
    left: 0;
    top: 0;
    border-left-color: transparent;
}

nav a:hover::before,nav a:active::before,#home:target [href="#home"]::before,#resume:target [href="#resume"]::before,#projects:target [href="#projects"]::before,#links:target [href="#links"]::before,#contact:target [href="#contact"]::before {
    left: 0;
    top: -14px;
    border-left: 7px solid #fff;
    border-top: 7px solid #fff;
    border-bottom: 7px solid transparent;
    left: -7px;
    top: -7px;
}

nav a::after {
    bottom: 0;
    right: 0;
}

nav a:hover::after {
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-right: 7px solid #fff;
    bottom: -7px;
    right: -7px;
}

main {
    display: table;
    position: relative;
    text-align: left;
    transition: margin-left 800ms linear 400ms;
    width: 4000px;
}

main::before,main::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: left 800ms linear 400ms,right 800ms linear 400ms;
}

main::before {
    left: 0;
}

main::after {
    right: 0;
}

#container::before,#container::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 101;
    top: 0;
    border: 10px solid transparent;
    border-top-width: 0;
    border-top-color: #ddd;
    border-bottom: 0;
    transition: left 800ms linear 400ms;
}

#continer::before,#home:target #container::before {
    left: 0;
}

#continer::after,#home:target #container::after {
    left: 780px;
}

main::after,#home:target main::after {
    right: -800px;
}

#resume:target #container::before {
    left: 800px;
}

#resume:target #container::after {
    left: 1580px;
}

#resume:target main::after {
    right: -1600px;
}

#projects:target #container::before {
    left: 1600px;
}

#projects:target #container::after {
    left: 2380px;
}

#projects:target main::after {
    right: -2400px;
}

#links:target #container::before {
    left: 2400px;
}

#links:target #container::after {
    left: 3180px;
}

#links:target main::after {
    right: -3200px;
}

#contact:target #container::before {
    left: 3200px;
}

#contact:target #container::after {
    left: 3980px;
}

#contact:target main::after {
    right: -4000px;
}

section {
    display: table-cell;
    width: 800px;
    float: left;
    padding: 10px 20px;
    box-sizing: border-box;
    border-top: 0 solid #ddd;
    position: relative;
}

section::before,section::after {
    position: absolute;
    top: -10px;
    width: 10px;
    height: 10px;
    z-index: 100;
}

section::before {
    left: -10px;
}

section::after {
    right: -10px;
}

main::before,main::after {
    border: 0 solid #eee;
    z-index: 99;
}

main,#home:target main {
    margin-left: -0;
}

main::before,#home:target main::before {
    left: -4000px;
}

main::after,#home:target main::after {
    right: -800px;
}

#resume:target main {
    margin-left: -800px;
}

#resume:target main::before {
    left: -3200px;
}

#resume:target main::after {
    right: -1600px;
}

#projects:target main {
    margin-left: -1600px;
}

#projects:target main::before {
    left: -2400px;
}

#projects:target main::after {
    right: -2400px;
}

#links:target main {
    margin-left: -2400px;
}

#links:target main::before {
    left: -1600px;
}

#links:target main::after {
    right: -3200px;
}

#contact:target main {
    margin-left: -3200px;
}

#contact:target main::before {
    left: -800px;
}

#contact:target main::after {
    right: -4000px;
}

25%,75% {
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-main-before-home {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-before-home {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-main-before-home {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-before-home {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@keyframes sections-fall-main-before-home {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

#home:target main::before {
    -khtml-animation: sections-fall-main-before-home 1600ms steps(30);
    -moz-animation: sections-fall-main-before-home 1600ms steps(30);
    -ms-animation: sections-fall-main-before-home 1600ms steps(30);
    -o-animation: sections-fall-main-before-home 1600ms steps(30);
    -webkit-animation: sections-fall-main-before-home 1600ms steps(30);
    animation: sections-fall-main-before-home 1600ms steps(30);
}

25%,75% {
    border-left-width: 10px;
}

@-moz-keyframes sections-fall-main-after-home {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-after-home {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-o-keyframes sections-fall-main-after-home {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-after-home {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@keyframes sections-fall-main-after-home {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

#home:target main::after {
    -khtml-animation: sections-fall-main-after-home 1600ms steps(30);
    -moz-animation: sections-fall-main-after-home 1600ms steps(30);
    -ms-animation: sections-fall-main-after-home 1600ms steps(30);
    -o-animation: sections-fall-main-after-home 1600ms steps(30);
    -webkit-animation: sections-fall-main-after-home 1600ms steps(30);
    animation: sections-fall-main-after-home 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
}

@-moz-keyframes sections-fall-section-home {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-ms-keyframes sections-fall-section-home {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-o-keyframes sections-fall-section-home {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-webkit-keyframes sections-fall-section-home {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@keyframes sections-fall-section-home {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

#home:target section {
    -khtml-animation: sections-fall-section-home 1600ms steps(30);
    -moz-animation: sections-fall-section-home 1600ms steps(30);
    -ms-animation: sections-fall-section-home 1600ms steps(30);
    -o-animation: sections-fall-section-home 1600ms steps(30);
    -webkit-animation: sections-fall-section-home 1600ms steps(30);
    animation: sections-fall-section-home 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
    border-left-width: 10px;
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-container-home {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-container-home {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-container-home {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-container-home {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@keyframes sections-fall-container-home {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

#home:target #container::before,#home:target #container::after {
    -khtml-animation: sections-fall-container-home 1600ms steps(30);
    -moz-animation: sections-fall-container-home 1600ms steps(30);
    -ms-animation: sections-fall-container-home 1600ms steps(30);
    -o-animation: sections-fall-container-home 1600ms steps(30);
    -webkit-animation: sections-fall-container-home 1600ms steps(30);
    animation: sections-fall-container-home 1600ms steps(30);
}

25%,75% {
    box-shadow: 0 -1px 0 0 #eee inset;
}

@-moz-keyframes sections-fall-main-home {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-ms-keyframes sections-fall-main-home {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-o-keyframes sections-fall-main-home {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-webkit-keyframes sections-fall-main-home {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@keyframes sections-fall-main-home {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

#home:target main {
    -khtml-animation: sections-fall-main-home 1600ms steps(30);
    -moz-animation: sections-fall-main-home 1600ms steps(30);
    -ms-animation: sections-fall-main-home 1600ms steps(30);
    -o-animation: sections-fall-main-home 1600ms steps(30);
    -webkit-animation: sections-fall-main-home 1600ms steps(30);
    animation: sections-fall-main-home 1600ms steps(30);
}

25%,75% {
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-main-before-resume {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-before-resume {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-main-before-resume {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-before-resume {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@keyframes sections-fall-main-before-resume {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

#resume:target main::before {
    -khtml-animation: sections-fall-main-before-resume 1600ms steps(30);
    -moz-animation: sections-fall-main-before-resume 1600ms steps(30);
    -ms-animation: sections-fall-main-before-resume 1600ms steps(30);
    -o-animation: sections-fall-main-before-resume 1600ms steps(30);
    -webkit-animation: sections-fall-main-before-resume 1600ms steps(30);
    animation: sections-fall-main-before-resume 1600ms steps(30);
}

25%,75% {
    border-left-width: 10px;
}

@-moz-keyframes sections-fall-main-after-resume {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-after-resume {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-o-keyframes sections-fall-main-after-resume {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-after-resume {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@keyframes sections-fall-main-after-resume {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

#resume:target main::after {
    -khtml-animation: sections-fall-main-after-resume 1600ms steps(30);
    -moz-animation: sections-fall-main-after-resume 1600ms steps(30);
    -ms-animation: sections-fall-main-after-resume 1600ms steps(30);
    -o-animation: sections-fall-main-after-resume 1600ms steps(30);
    -webkit-animation: sections-fall-main-after-resume 1600ms steps(30);
    animation: sections-fall-main-after-resume 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
}

@-moz-keyframes sections-fall-section-resume {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-ms-keyframes sections-fall-section-resume {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-o-keyframes sections-fall-section-resume {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-webkit-keyframes sections-fall-section-resume {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@keyframes sections-fall-section-resume {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

#resume:target section {
    -khtml-animation: sections-fall-section-resume 1600ms steps(30);
    -moz-animation: sections-fall-section-resume 1600ms steps(30);
    -ms-animation: sections-fall-section-resume 1600ms steps(30);
    -o-animation: sections-fall-section-resume 1600ms steps(30);
    -webkit-animation: sections-fall-section-resume 1600ms steps(30);
    animation: sections-fall-section-resume 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
    border-left-width: 10px;
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-container-resume {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-container-resume {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-container-resume {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-container-resume {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@keyframes sections-fall-container-resume {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

#resume:target #container::before,#resume:target #container::after {
    -khtml-animation: sections-fall-container-resume 1600ms steps(30);
    -moz-animation: sections-fall-container-resume 1600ms steps(30);
    -ms-animation: sections-fall-container-resume 1600ms steps(30);
    -o-animation: sections-fall-container-resume 1600ms steps(30);
    -webkit-animation: sections-fall-container-resume 1600ms steps(30);
    animation: sections-fall-container-resume 1600ms steps(30);
}

25%,75% {
    box-shadow: 0 -1px 0 0 #eee inset;
}

@-moz-keyframes sections-fall-main-resume {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-ms-keyframes sections-fall-main-resume {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-o-keyframes sections-fall-main-resume {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-webkit-keyframes sections-fall-main-resume {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@keyframes sections-fall-main-resume {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

#resume:target main {
    -khtml-animation: sections-fall-main-resume 1600ms steps(30);
    -moz-animation: sections-fall-main-resume 1600ms steps(30);
    -ms-animation: sections-fall-main-resume 1600ms steps(30);
    -o-animation: sections-fall-main-resume 1600ms steps(30);
    -webkit-animation: sections-fall-main-resume 1600ms steps(30);
    animation: sections-fall-main-resume 1600ms steps(30);
}

25%,75% {
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-main-before-projects {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-before-projects {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-main-before-projects {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-before-projects {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@keyframes sections-fall-main-before-projects {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

#projects:target main::before {
    -khtml-animation: sections-fall-main-before-projects 1600ms steps(30);
    -moz-animation: sections-fall-main-before-projects 1600ms steps(30);
    -ms-animation: sections-fall-main-before-projects 1600ms steps(30);
    -o-animation: sections-fall-main-before-projects 1600ms steps(30);
    -webkit-animation: sections-fall-main-before-projects 1600ms steps(30);
    animation: sections-fall-main-before-projects 1600ms steps(30);
}

25%,75% {
    border-left-width: 10px;
}

@-moz-keyframes sections-fall-main-after-projects {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-after-projects {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-o-keyframes sections-fall-main-after-projects {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-after-projects {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@keyframes sections-fall-main-after-projects {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

#projects:target main::after {
    -khtml-animation: sections-fall-main-after-projects 1600ms steps(30);
    -moz-animation: sections-fall-main-after-projects 1600ms steps(30);
    -ms-animation: sections-fall-main-after-projects 1600ms steps(30);
    -o-animation: sections-fall-main-after-projects 1600ms steps(30);
    -webkit-animation: sections-fall-main-after-projects 1600ms steps(30);
    animation: sections-fall-main-after-projects 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
}

@-moz-keyframes sections-fall-section-projects {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-ms-keyframes sections-fall-section-projects {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-o-keyframes sections-fall-section-projects {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-webkit-keyframes sections-fall-section-projects {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@keyframes sections-fall-section-projects {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

#projects:target section {
    -khtml-animation: sections-fall-section-projects 1600ms steps(30);
    -moz-animation: sections-fall-section-projects 1600ms steps(30);
    -ms-animation: sections-fall-section-projects 1600ms steps(30);
    -o-animation: sections-fall-section-projects 1600ms steps(30);
    -webkit-animation: sections-fall-section-projects 1600ms steps(30);
    animation: sections-fall-section-projects 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
    border-left-width: 10px;
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-container-projects {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-container-projects {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-container-projects {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-container-projects {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@keyframes sections-fall-container-projects {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

#projects:target #container::before,#projects:target #container::after {
    -khtml-animation: sections-fall-container-projects 1600ms steps(30);
    -moz-animation: sections-fall-container-projects 1600ms steps(30);
    -ms-animation: sections-fall-container-projects 1600ms steps(30);
    -o-animation: sections-fall-container-projects 1600ms steps(30);
    -webkit-animation: sections-fall-container-projects 1600ms steps(30);
    animation: sections-fall-container-projects 1600ms steps(30);
}

25%,75% {
    box-shadow: 0 -1px 0 0 #eee inset;
}

@-moz-keyframes sections-fall-main-projects {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-ms-keyframes sections-fall-main-projects {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-o-keyframes sections-fall-main-projects {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-webkit-keyframes sections-fall-main-projects {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@keyframes sections-fall-main-projects {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

#projects:target main {
    -khtml-animation: sections-fall-main-projects 1600ms steps(30);
    -moz-animation: sections-fall-main-projects 1600ms steps(30);
    -ms-animation: sections-fall-main-projects 1600ms steps(30);
    -o-animation: sections-fall-main-projects 1600ms steps(30);
    -webkit-animation: sections-fall-main-projects 1600ms steps(30);
    animation: sections-fall-main-projects 1600ms steps(30);
}

25%,75% {
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-main-before-links {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-before-links {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-main-before-links {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-before-links {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@keyframes sections-fall-main-before-links {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

#links:target main::before {
    -khtml-animation: sections-fall-main-before-links 1600ms steps(30);
    -moz-animation: sections-fall-main-before-links 1600ms steps(30);
    -ms-animation: sections-fall-main-before-links 1600ms steps(30);
    -o-animation: sections-fall-main-before-links 1600ms steps(30);
    -webkit-animation: sections-fall-main-before-links 1600ms steps(30);
    animation: sections-fall-main-before-links 1600ms steps(30);
}

25%,75% {
    border-left-width: 10px;
}

@-moz-keyframes sections-fall-main-after-links {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-after-links {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-o-keyframes sections-fall-main-after-links {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-after-links {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@keyframes sections-fall-main-after-links {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

#links:target main::after {
    -khtml-animation: sections-fall-main-after-links 1600ms steps(30);
    -moz-animation: sections-fall-main-after-links 1600ms steps(30);
    -ms-animation: sections-fall-main-after-links 1600ms steps(30);
    -o-animation: sections-fall-main-after-links 1600ms steps(30);
    -webkit-animation: sections-fall-main-after-links 1600ms steps(30);
    animation: sections-fall-main-after-links 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
}

@-moz-keyframes sections-fall-section-links {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-ms-keyframes sections-fall-section-links {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-o-keyframes sections-fall-section-links {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-webkit-keyframes sections-fall-section-links {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@keyframes sections-fall-section-links {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

#links:target section {
    -khtml-animation: sections-fall-section-links 1600ms steps(30);
    -moz-animation: sections-fall-section-links 1600ms steps(30);
    -ms-animation: sections-fall-section-links 1600ms steps(30);
    -o-animation: sections-fall-section-links 1600ms steps(30);
    -webkit-animation: sections-fall-section-links 1600ms steps(30);
    animation: sections-fall-section-links 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
    border-left-width: 10px;
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-container-links {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-container-links {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-container-links {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-container-links {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@keyframes sections-fall-container-links {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

#links:target #container::before,#links:target #container::after {
    -khtml-animation: sections-fall-container-links 1600ms steps(30);
    -moz-animation: sections-fall-container-links 1600ms steps(30);
    -ms-animation: sections-fall-container-links 1600ms steps(30);
    -o-animation: sections-fall-container-links 1600ms steps(30);
    -webkit-animation: sections-fall-container-links 1600ms steps(30);
    animation: sections-fall-container-links 1600ms steps(30);
}

25%,75% {
    box-shadow: 0 -1px 0 0 #eee inset;
}

@-moz-keyframes sections-fall-main-links {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-ms-keyframes sections-fall-main-links {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-o-keyframes sections-fall-main-links {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-webkit-keyframes sections-fall-main-links {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@keyframes sections-fall-main-links {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

#links:target main {
    -khtml-animation: sections-fall-main-links 1600ms steps(30);
    -moz-animation: sections-fall-main-links 1600ms steps(30);
    -ms-animation: sections-fall-main-links 1600ms steps(30);
    -o-animation: sections-fall-main-links 1600ms steps(30);
    -webkit-animation: sections-fall-main-links 1600ms steps(30);
    animation: sections-fall-main-links 1600ms steps(30);
}

25%,75% {
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-main-before-contact {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-before-contact {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-main-before-contact {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-before-contact {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

@keyframes sections-fall-main-before-contact {
    0%,100% {
        border-right-width: 0;
    }

    25%,75% {
        border-right-width: 10px;
    }
}

#contact:target main::before {
    -khtml-animation: sections-fall-main-before-contact 1600ms steps(30);
    -moz-animation: sections-fall-main-before-contact 1600ms steps(30);
    -ms-animation: sections-fall-main-before-contact 1600ms steps(30);
    -o-animation: sections-fall-main-before-contact 1600ms steps(30);
    -webkit-animation: sections-fall-main-before-contact 1600ms steps(30);
    animation: sections-fall-main-before-contact 1600ms steps(30);
}

25%,75% {
    border-left-width: 10px;
}

@-moz-keyframes sections-fall-main-after-contact {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-ms-keyframes sections-fall-main-after-contact {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-o-keyframes sections-fall-main-after-contact {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@-webkit-keyframes sections-fall-main-after-contact {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

@keyframes sections-fall-main-after-contact {
    0%,100% {
        border-left-width: 0;
    }

    25%,75% {
        border-left-width: 10px;
    }
}

#contact:target main::after {
    -khtml-animation: sections-fall-main-after-contact 1600ms steps(30);
    -moz-animation: sections-fall-main-after-contact 1600ms steps(30);
    -ms-animation: sections-fall-main-after-contact 1600ms steps(30);
    -o-animation: sections-fall-main-after-contact 1600ms steps(30);
    -webkit-animation: sections-fall-main-after-contact 1600ms steps(30);
    animation: sections-fall-main-after-contact 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
}

@-moz-keyframes sections-fall-section-contact {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-ms-keyframes sections-fall-section-contact {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-o-keyframes sections-fall-section-contact {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@-webkit-keyframes sections-fall-section-contact {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

@keyframes sections-fall-section-contact {
    0%,100% {
        border-top-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
    }
}

#contact:target section {
    -khtml-animation: sections-fall-section-contact 1600ms steps(30);
    -moz-animation: sections-fall-section-contact 1600ms steps(30);
    -ms-animation: sections-fall-section-contact 1600ms steps(30);
    -o-animation: sections-fall-section-contact 1600ms steps(30);
    -webkit-animation: sections-fall-section-contact 1600ms steps(30);
    animation: sections-fall-section-contact 1600ms steps(30);
}

25%,75% {
    border-top-width: 8px;
    border-left-width: 10px;
    border-right-width: 10px;
}

@-moz-keyframes sections-fall-container-contact {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-ms-keyframes sections-fall-container-contact {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-o-keyframes sections-fall-container-contact {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@-webkit-keyframes sections-fall-container-contact {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

@keyframes sections-fall-container-contact {
    0%,100% {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
    }

    25%,75% {
        border-top-width: 8px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}

#contact:target #container::before,#contact:target #container::after {
    -khtml-animation: sections-fall-container-contact 1600ms steps(30);
    -moz-animation: sections-fall-container-contact 1600ms steps(30);
    -ms-animation: sections-fall-container-contact 1600ms steps(30);
    -o-animation: sections-fall-container-contact 1600ms steps(30);
    -webkit-animation: sections-fall-container-contact 1600ms steps(30);
    animation: sections-fall-container-contact 1600ms steps(30);
}

25%,75% {
    box-shadow: 0 -1px 0 0 #eee inset;
}

@-moz-keyframes sections-fall-main-contact {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-ms-keyframes sections-fall-main-contact {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-o-keyframes sections-fall-main-contact {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@-webkit-keyframes sections-fall-main-contact {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

@keyframes sections-fall-main-contact {
    0%,100% {
        box-shadow: 0;
    }

    25%,75% {
        box-shadow: 0 -1px 0 0 #eee inset;
    }
}

#contact:target main {
    -khtml-animation: sections-fall-main-contact 1600ms steps(30);
    -moz-animation: sections-fall-main-contact 1600ms steps(30);
    -ms-animation: sections-fall-main-contact 1600ms steps(30);
    -o-animation: sections-fall-main-contact 1600ms steps(30);
    -webkit-animation: sections-fall-main-contact 1600ms steps(30);
    animation: sections-fall-main-contact 1600ms steps(30);
}

ul {
    margin-bottom: 3em;
}

li {
    list-style: none;
    margin-left: 3em;
    margin-top: 1em;
}

p {
    margin: 1em 0;
}

.big {
    font-size: 2em;
}

.meter {
    display: inline-block;
    width: 11em;
}

.meter::before {
    content: '';
    letter-spacing: -.06em;
    white-space: pre-line;
    text-shadow: none;
}

.meter[value='0']::before {
    content: '\2606\2606\2606\2606\2606' '\a' 'No Experience';
}

.meter[value='1']::before {
    content: '\2605\2606\2606\2606\2606' '\a' 'Little Experience';
}

.meter[value='2']::before {
    content: '\2605\2605\2606\2606\2606' '\a' 'Some Experience';
}

.meter[value='3']::before {
    content: '\2605\2605\2605\2606\2606' '\a' 'Comfortable';
}

.meter[value='4']::before {
    content: '\2605\2605\2605\2605\2606' '\a' 'Very Comfortable';
}

.meter[value='5']::before {
    content: '\2605\2605\2605\2605\2605' '\a' 'Proficient';
}

#resume_ .position {
    font-weight: 700;
    text-shadow: 0 0 1px #000;
}

#resume_ #languages ul {
    -khtml-columns: 2;
    -moz-columns: 2;
    -ms-columns: 2;
    -o-columns: 2;
    -webkit-columns: 2;
    columns: 2;
}

#resume_ #languages li {
    border-left: 2px solid #000;
    padding-left: 1em;
    display: inline-block;
}

@media (max-width: 799px) {
    body {
        width: 100%;
    }

    nav {
        background: #fff;
        margin-bottom: initial;
        width: 100%;
        z-index: 99;
    }

    nav.mobile-scroll {
        position: fixed;
    }

    nav a {
        display: block;
    }

    nav a:first-child {
        margin-bottom: .5em;
    }

    main {
        margin-left: initial !important;
        width: 100%;
    }

    main::before,main::after {
        content: none;
    }

    section {
        width: 100%;
    }

    #home:target [href="#home"],#home:target [href="#home"]:hover,#home:target [href="#home"]:active {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #bbb;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 7px;
        padding: 10px;
        top: 0;
    }

    #resume:target [href="#resume"],#resume:target [href="#resume"]:hover,#resume:target [href="#resume"]:active {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #bbb;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 7px;
        padding: 10px;
        top: 0;
    }

    #projects:target [href="#projects"],#projects:target [href="#projects"]:hover,#projects:target [href="#projects"]:active {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #bbb;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 7px;
        padding: 10px;
        top: 0;
    }

    #links:target [href="#links"],#links:target [href="#links"]:hover,#links:target [href="#links"]:active {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #bbb;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 7px;
        padding: 10px;
        top: 0;
    }

    #contact:target [href="#contact"],#contact:target [href="#contact"]:hover,#contact:target [href="#contact"]:active {
        background: transparent;
        border: 0;
        box-shadow: none;
        color: #bbb;
        left: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 7px;
        padding: 10px;
        top: 0;
    }

    #home_::before {
        content: 'D';
    }

    #resume_::before {
        content: 'Resume';
    }

    #projects_::before {
        content: 'Projects';
    }

    #links_::before {
        content: 'Links';
    }

    #contact_::before {
        content: 'Contact Me';
    }

    section::before {
        border-bottom: 2px solid #000;
        display: inline-block;
        font-size: 2em;
        height: 1em;
        left: initial;
        margin-bottom: 1em;
        position: initial;
        width: 100%;
    }

    section:first-child::before {
        content: none !important;
    }

    #resume_ #languages ul {
        -khtml-columns: 1;
        -moz-columns: 1;
        -ms-columns: 1;
        -o-columns: 1;
        -webkit-columns: 1;
        columns: 1;
        display: block;
    }

    #resume_ #languages li {
        display: block;
        padding-left: 1em;
    }
}