html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a.add{
	color: #ddd;
	text-decoration: none;
}
a.add:before{
	content: '+';
	display: inline-block;
	color: #ddd;
	border: 2px solid #ddd;
	border-radius: 100%;
	background: #4BC41E;

	line-height: .55em;
	
	font-family: helvetica;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	
	padding: 4px;
	
	margin: 0 3px;
}
a.add:hover{
	color: #bbb;
}
a.add:hover:before{
	background: #4A7739;
	color: #bbb;
	border-color: #ccc;
}

#panel_top{
	height: 40px;
	background: red;
}
#navbar li:hover{
	cursor: pointer;
}
#navbar li{
	display: inline-block;
	width: 200px;
}

#panel_middle{
	height: 100%;
}

#panel_middle{
	//position: absolute;
	//top: 0;
	//left: 0;
	z-index: -1;
	
	width: 100%;
	height: 100%;
	
	box-sizing: border-box;

	border: 0 solid #000;
	//border-width: 40px 0 0px 0;
	margin-top: -40px;
	padding-top: 40px;
}
#panel_bottom{
	position: absolute;
	bottom: 0;
	height: 200px;
	background: grey;
	width: 100%;
}

#panel_hidden{
	visibility: hidden;
}

#panel_screen-left, #panel_screen-right{
	height: 100%;
}
#panel_screen-left{
	background: rgba(0,255,0,.2);
	overflow: hidden;
	text-align: center;
}
#panel_screen-right{
	min-width: 300px;
	max-width: 30%;
	float: right;
}

#game_canvas{
	background: #fff;
	width:100%;
	height:100%;
}

#console:before{
	content: 'Console';
	background: #aaa;
	display: block;
	border-bottom: 2px solid #ccc;
	font-weight: bold;
}
#console{
	max-height: 100%;
	overflow: auto;
}
#console-contents{
	padding: 4px;
}
#console-contents *:before{
	font-weight: bold;
	margin-right: 4px;
	border-radius: 100%;
	display: inline-block;
	width: 12px;
	height: 12px;
	font-size: 11px;
	color: #fff;
	text-align: center;
	border: 2px solid #ddd;
}
#console-contents info:before{
	content: 'I';
	background: #03f;
}
#console-contents info{
	color: #03f;
}
#console-contents log:before{
	content: 'L';
	background: #999;
}
#console-contents log{
	color #999;
}
#console-contents error:before{
	content: 'E';
	background: #f33;
}
#console-contents error{
	color: #f33;
}

#panel_code{
	width: 100%;
	height: 100%;
	background: #ff0;
}
#panel_code-left, #panel_code-right{
	display: inline-block;
	height: 100%;
}
#panel_code-left{
	width: 70%;
	background: #990;
	float: left;
}
#panel_code-left-text{
	width: 100%;
	height: 100%;
	border-width: 20px;
	box-sizing: border-box;
}
#editor [role="presentation"]{
	tab-size: 8;
	line-height: 1.3em;
}
#panel_code-right{
	width: 30%;
	background: #f07;
	float: right;
	font-size: 23px;
}
#panel_code-right-holder{
	margin: 10px 20px;
}
.panel_code-right-holder-file.dirty:after{
	content: ' *';
	color: #000;
}
.panel_code-right-holder-file{
	display: block;
	color: #eee;
	cursor: pointer;
}